<footer class="site-footer">
    <p class="footer-quote">
        “Technology is most powerful when it’s rooted in empathy and strategy.”
    </p>

    <p class="footer-brand">
        © <span>The Product Marvel</span> <span id="year"></span>
    </p>

    <img src="/personal-site/assets/images/asana-foundations-certification-badge.png" alt="Asana Foundations Badge"
        width="200" />
    <img src="/personal-site/assets/images/asana-ai-for-work-certification-badge.png" alt="Asana AI for Work Badge"
        width="200" />
</footer>