<header class="reveal">
    <img src="/personal-site/assets/images/the-product-marvel-logo-transparent.png" alt="The Product Marvel Logo" />
    <h4 class="tagline">Smart, Human, and Built with Heart 💫</h4>
    <h1>Hey, I’m <span class="mauve">Maureen</span> 👋🏽</h1>
    <p>
        I build <strong>human-centered digital products</strong> where strategy, design, and engineering shake hands.
        I thrive in the messy middle, bringing clarity to chaos and turning <em>“what if?”</em> into <em>“it’s
            live!”</em>
    </p>
</header>